.uw-purple{
    background-color:#641E16  ;
    color: #F2D7D5;
}

.nav-link-color{
    color:#F2D7D5!important;
}

#title {
    font-size: 30px
}

.nav-link:hover {
    text-decoration: overline
}

#dropdownMenuOffset {
    color:#F2D7D5;
    background:#641E16  
}
 
body{
    background-color:#F2D7D5;
} 

footer {
    float: right;
}

